<header>
    <h2>
        <a href="/" style="text-decoration: none; color: inherit;">
          <span style="color: white ">Perfume </span> <span style="color: red">House</span>
        </a>
      </h2>
  
    <nav>
      <% if (member) { %>
        <span>Hello, <b><%= member.name %></b></span>
        <a href="/users/profile">👤</a> |
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </nav>
  </header>

  <script>
    // Khi user quay lại trang từ cache (Back/Forward), reload lại để cập nhật session
    window.addEventListener("pageshow", function (event) {
      if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
        window.location.reload();
      }
    });
  </script>
  